<div class="slider">

    <img src="<%= asset_path('slider_homev4.webp') %>" alt="Automóvil">
    <div class="caption">
      <h2>Pailc tor Picpelani Car</h2>
      <p>Este es nuestro modelo estrella de la temporada.</p>
      <a href="/cars" class="btn">Ver más</a>

  </div>
</div>

<!-- Galería de autos -->
<section class="car-gallery">
  <h2>Oportunidades de la semana</h2>
  <div class="car-list">
    <div class="car-item">
      <img src="<%= asset_path('galery_1.webp') %>" alt="Auto 1">
      <p>ABSS 7 Tacos Guenos</p>
      <a href="#" class="btn">Get it!</a>
    </div>
    <div class="car-item">
      <img src="<%= asset_path('galery_2.webp') %>" alt="Auto 2">
      <p>ABSS 7 Tacos Guenos</p>
      <a href="#" class="btn">Get it!</a>
    </div>
    <div class="car-item">
      <img src="<%= asset_path('galery_3.webp') %>" alt="Auto 3">
      <p>ABSS 7 Tacos Guenos</p>
      <a href="#" class="btn">Get it!</a>
    </div>
    <div class="car-item">
      <img src="<%= asset_path('galery_4.webp') %>" alt="Auto 3">
      <p>ABSS 7 Tacos Guenos</p>
      <a href="#" class="btn">Get it!</a>
    </div>
  </div>
</section>