<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Puelche Automotriz" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <!-- Header -->
  <header>
  <!-- Barra de navegación (puedes modificar según lo necesites) -->
    <nav>
      <ul>
        <li><%= link_to  "Inicio", public_pages_home_path %></li>
        <li><%= link_to  "Sobre Nosotros", public_pages_nosotros_path %></li>
        <li><%= link_to  "Nuestro Stock", public_autos_path %></li>
        <li><%= link_to  "Consigna tu auto", public_pages_consignacion_path %></li>
        <li><%= link_to  "Compramos tu auto", public_pages_compra_path %></li>
        <li><%= link_to  "Financiamos tu auto", public_pages_financiamiento_path %></li>
        <li><%= link_to  "Contacto", public_pages_contacto_path %></li>
      </ul>
    </nav>
  </header>
  <body>
    <%= yield %>
  </body>
  <!-- Footer -->
  <footer>
    <div class="footer-links">
      <ul>
        <li><a href="/terms">Términos</a></li>
        <li><a href="/privacy">Privacidad</a></li>
        <li><a href="/contact">Contáctanos</a></li>
      </ul>
    </div>
  </footer>
</html>
